div {
    position: absolute; /* Allows free movement across the page */
    top: 100px;
    left: 100px;
    transform: rotateX(51deg) rotateZ(43deg);
    transform-style: preserve-3d;
    border-radius: 32px;
    box-shadow: 1px 1px 0 1px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
      28px 28px 28px 0 rgba(34, 33, 81, 0.25);
    transition: 0.4s ease-in-out transform, 0.4s ease-in-out box-shadow;
    width: 200px; /* Set width and height */
    height: 200px;
    background-color: #3498db; /* Example background */
    cursor: grab; /* Show grab cursor */
  }
  
  div:active {
    cursor: grabbing; /* Change to grabbing cursor on click/drag */
  }
  
  div:hover {
    animation: rotate 2s infinite ease-in-out;
  }
  
  @keyframes rotate {
    0% {
      transform: translate3d(0px, -16px, 0px) rotateX(0deg) rotateZ(0deg);
      box-shadow: 1px 1px 0 1px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
        28px 28px 28px 0 rgba(34, 33, 81, 0.25);
    }
    100% {
      transform: translate3d(0px, -16px, 0px) rotateX(0deg) rotateZ(360deg);
      box-shadow: 1px 1px 0 1px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
        54px 54px 28px -10px rgba(34, 33, 81, 0.15);
    }
  }
  